body {
    background-color: #307589;
    font-family: "Georgia", sans-serif;
    color: #10252B;
}

#content {
    width: 940px;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 20px;
}

section {
    display: flex;
}

article {
    vertical-align: middle;
    padding: 10px;
}
article > h2 {
    text-align: center;
}


/*
article {
    display: inline-block;
    width: 48%;
    margin: auto;
    margin-top: 0px;
}*/

.article-pic {
    width: 420px;
}


nav {
/*    display: inline-block;*/
    display: flex;
    width:100%
}

nav >ul>li {
    /*display: inline-block;
    width: 120px;
    height: inherit;*/
    list-style: none;
    display: inline-block;
    flex-basis: 100px;
    min-width: 100px;
    height: 80px;
}

nav>ul>li>a {
    color: #11331E;
}

header {
    height: 100px;
    background-color: #35A05D;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}
main{
    padding: 20px;
}

footer {
    padding: 50px;
    background-color: #1B404B;
    color: #3E97B0;
}

footer>p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
    width: 110;
    height: 91;
}


#banner {
    display: block;
    margin: auto;
}

#social-links {
    display: inline-block;
    margin-left: 50%;
}

#social-links>a>img {
    height: 50px;
}
