

#content {
    width: 940px;
    margin: 0 auto;
    background-color: aliceblue;
    border-radius: 20px;
    overflow: hidden;
}

section {
    display: flex;
}

article {
    vertical-align: middle;
    padding: 10px;
}

article>h2 {
    text-align: center;
}

.article-pic {
    width: 420px;
}


/*Navigation Styling*/

nav {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 100px;
}

a:link,
a:visited {
    text-decoration: none;
    color: aliceblue;
    background-color: inherit;
}

a:hover,
a:active {
    color: #11331E;
    background-color: aliceblue;
}

a {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
}

header {
    height: 100px;
    background-color: #35A05D;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
}


/*Stock Styling*/

body {
    background-color: #307589;
    font-family: "Georgia", sans-serif;
    color: #10252B;
}

main {
    margin: 20px;
}

footer {
    padding: 50px;
    background-color: #1B404B;
    color: #3E97B0;
}

footer>p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
    width: 110;
    height: 91;
}

#banner {
    display: block;
    margin: auto;
}

#social-links {
    display: inline-block;
    margin-left: 50%;
}

#social-links>a>img {
    height: 50px;
}
