body {
    background: url(../images/site/background.jpg) no-repeat fixed center;
    background-color: #f7f193;
    background-size: contain;
    font-family: "Arial", sans-serif;
}

#container {
    width: 100%;
    background-color: #FFFFFF;
}


/*Header and Navigation*/

header {
    background-color: #FFFFFF;
    color: #de2226;
    font-size: 1.5em;
}

nav {
    background-color: #990033;
    color: #FFFFFF;
    height: 70px;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    height: inherit;
}

nav li {
    list-style: none;
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
    font-size: 12pt;
    cursor: pointer;
}

nav li a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px;
    font-size: 12pt;
    vertical-align: middle;
    height: inherit;
}


/* Main Styling */

main {
    width: 100%;
    padding: 0px;
    margin: 0px;
    /*
    display: flex;
    flex-wrap: wrap;
*/
}

#home {
    width: inherit;
}

#hero {
    background: url('/acme/images/site/feature.jpg') no-repeat left;
    width: inherit;
    height: 408px;
    max-width: 757px;
    display: flex;
    justify-content: flex-end;
}

#hero-desc {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
    padding: 10px;
    padding-left: 40px;
    margin-right: 10px;
    height: auto;
}

#button {
    list-style: none;
}

#lower-area {
    display: flex;
    flex-flow: row wrap;
}

#lower-area>section {
    /*
    min-width: 200px;
    max-width: 500px;
*/
}

#recipes-section {
    max-width: 500px;
    flex-basis: 500px;
}

#reviews-section {
    max-width: 300px;
    flex-basis: 300px;
}

#content {
    display: none;
}

#recipes {
    display: flex;
    flex-flow: row wrap;
}

.recipe {
    font-size: .8em;
    width: 120px;
    height: 120px;
}

.recipe img {
    display: block;
    margin: auto;
}

.recipe p {
    text-align: center;
}

#product-image img {
    max-width: 70%;
}

figure {
    max-width: 300px;
    flex-basis: 300px;
}


/*Footer*/

footer {
    padding: 15px;
    border-top: 1px solid black;
}


/*Media Queries*/

@media only screen and (min-width: 700px) {
    #container {
        width: 80%;
        margin: auto;
    }
}
